.catalog {
  padding: 27px 0 0 0;

  border-top: 1px solid $color-whisper-2;

  @media (min-width: $vp-768) {
    padding: 0;

    border: none;
  }
}

.catalog__container {
  display: grid;

  row-gap: 49px;
}

.catalog__title {
  margin: 0 0 39px 0;
  padding: 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $vp-768) {
    margin: 0 0 82px 0;
    padding: 0;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $vp-768) {
    margin: 0 0 84px 0;
  }
}

.catalog__products {
  display: grid;
  margin: 0 0 25px 0;

  border-bottom: 1px solid $color-whisper-2;

  @media (min-width: $vp-768) {
    margin: 0 0 65px 0;

    column-gap: 60px;

    border-bottom: none;

    grid-template-columns: repeat(2, 1fr);
    row-gap: 62px;
  }

  @media (min-width: $vp-1024) {
    margin: 0 0 74px 0;

    column-gap: 6.6%;

    border: none;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: none;
    row-gap: 65px;
  }
}

.catalog__product {
  position: relative;

  display: grid;
  margin: 0 -20px 0 -20px;
  padding: 19px 20px 25px 20px;

  border-top: 1px solid $color-whisper-2;

  row-gap: 14px;

  @media (min-width: $vp-768) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;
    padding: 0 12% 12% 12%;

    background: linear-gradient(180deg, #ffffff 83px, #f2f2f2 0);
    border: none;

    row-gap: 43px;
  }

  @media (min-width: $vp-1024) {
    padding: 0 15% 16% 16%;

    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 80px, rgba(242, 242, 242, 1) 80px);

    row-gap: 33px;
  }
}

.catalog__product-picture-wrapper {
  @media (min-width: $vp-768) {
    display: flex;
    justify-content: flex-end;
  }
}

.catalog__product--last {
  @media (min-width: $vp-768) {
    min-height: 512px;
  }
}

.catalog__product--all {
  margin: 0 -20px 0 -20px;
  padding: 77px 20px 25px 20px;

  border-bottom: 1px solid #ebebeb;

  row-gap: 20px;


  &::before {
    content: "";
    position: absolute;
    top: 19px;
    right: 50%;

    width: 1px;
    height: 30px;

    background-color: $color-light-grey;
  }

  &::after {
    content: "";
    position: absolute;
    top: 37px;
    right: 45%;

    width: 30px;
    height: 1px;

    background-color: $color-light-grey;
  }

  @media (min-width: $vp-768) {
    justify-content: flex-end;
    align-items: center;
    height: calc(100% - 83px);
    margin: 82px 0 0 0;
    padding: 20px 37px 40px 37px;

    background: $color-white;
    border: 2px solid $color-white-smoke;

    row-gap: 22%;

    &::before {
      top: 53px;
      left: 50%;

      width: 1px;
      height: 60px;

      background-color: $color-light-grey;
    }

    &::after {
      content: "";
      position: absolute;
      top: 83px;
      left: 40%;

      width: 60px;
      height: 1px;

      background-color: $color-light-grey;
    }
  }

  @media (min-width: $vp-1024) {
    justify-content: end;
    margin: 73px 0 0;
    padding: 37px 37px 30px 37px;

    &::before {
      content: "";
      position: absolute;
      top: 51px;

      width: 1px;
      height: 60px;

      border: 1px solid $color-light-grey;
    }

    &::after {
      content: "";
      position: absolute;
      top: 81px;
      left: 38%;

      width: 60px;
      height: 0;

      border: 1px solid $color-light-grey;
    }
  }
}

.catalog__product-card-all {
  text-align: center;

  @media (min-width: $vp-768) {
    padding: 0 65px;
  }

  @media (min-width: $vp-768) {
    padding: 0;
  }
}

.catalog__product-wrapper {
  display: grid;
  align-items: center;

  grid-template-columns: repeat(2, 1fr);

  @media (min-width: $vp-768) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  picture {
    display: flex;
    align-items: flex-end;
    height: 100%;

    @media (min-width: $vp-768) {
      min-height: 168px;
    }
  }
}

.catalog__product-wrapper-pic {
  margin-top: -20px;

  @media (min-width: $vp-768) {
    margin: 0;
  }
}

.catalog__img {
  margin: 0 auto;

  @media (min-width: $vp-768) {
    width: 161px;
    height: 172px;
    margin-bottom: 34px;
  }

  @media (min-width: $vp-1024) {
    width: 161px;
    height: 172px;
    margin-bottom: 46px;
  }

  &--big-card {
    @media (min-width: $vp-768) {
      width: 168px;
      height: 206px;
    }

    @media (min-width: $vp-1024) {
      width: 172px;
      height: 196px;
      margin-bottom: 46px;
    }
  }
}

.catalog__product-container {
  display: grid;

  row-gap: 14px;

  @media (min-width: $vp-768) {
    width: 100%;

    row-gap: 21px;
  }

  @media (min-width: $vp-1024) {
    row-gap: 22px;
  }
}

.catalog__product-title {
  width: 76px;
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    width: 100%;
    max-width: 150px;
    margin: 0 auto;

    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: $vp-768) {
    padding: 2px 0;

    line-height: 21px;
  }
}

.catalog__product-description {
  display: grid;
  margin: 0 0 8px 0;

  font-size: 12px;
  line-height: 16px;
  font-family: $ff-lato;

  @media (min-width: $vp-768) {
    margin: 0;

    font-size: 16px;

    grid-template-rows: none;
    row-gap: none;
  }

  @media (min-width: $vp-768) {
    row-gap: 16px;
  }
}

.catalog__description-item {
  position: relative;

  display: flex;
  justify-content: space-between;

  @media (min-width: $vp-768) {
    padding: 0;
  }

  @media (min-width: $vp-1024) {
    &:nth-child(3) {
      margin: 0 0 9px 0;
    }
  }

  &::after {
    @media (min-width: $vp-768) {
      content: "";
      position: absolute;
      bottom: -8px;

      width: 100%;
      height: 1px;

      background-color: $color-silver;
    }
  }
}

.catalog__description-definition {
  margin: 0;
}

.catalog__product-link {
  padding: 10px;

  line-height: 20px;
  text-decoration: none;

  &--all {
    color: $color-charcoal;

    background-color: $color-white-smoke;
    border: none;

    @media (min-width: $vp-768) {
      width: 100%;
    }
  }

  @media (min-width: $vp-1024) {
    justify-content: flex-end;
    min-width: 39px;
  }
}

.catalog__product-all-title {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    margin: 0 0 18px 0;

    font-size: 20px;
    line-height: 22px;
  }
}

.catalog__product-all-text {
  margin: 0 0 7px 0;

  font-size: 12px;
  line-height: 16px;
  font-family: $ff-lato;

  @media (min-width: $vp-768) {
    font-size: 16px;
    line-height: 18px;
  }
}
