.catalog__container {
  display: grid;

  row-gap: 49px;
}

.catalog__title {
  margin: 0 0 49px 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.catalog__products {
  display: grid;

  row-gap: 19px;

  @media (min-width: $vp-768) {
    gap: 60px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $vp-1024) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: none;
  }
}

.catalog__product {
  display: grid;
np
  row-gap: 13px;
  padding: 11px 0 14px 0;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: $color-silver;
    position: absolute;
    top: -8px;
  }

  @media (min-width: $vp-768) {
    display: flex;
    flex-direction: column;
    padding: 0 36px 39px 36px;

    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 73px, rgba(242, 242, 242, 1) 73px);

    row-gap: 33px;

    &::before {
      display: none;
    }
  }

  @media (min-width: $vp-1024) {
    padding: 0 30px 40px 35px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 80px, rgba(242, 242, 242, 1) 80px);
  }

  &--all {
    @media (min-width: $vp-768) {
      justify-content: center;
      justify-content: flex-end;
      align-items: center;
      height: calc(100% - 73px);
      margin: 73px 0 0 0;
      padding: 161px 37px 38px 38px;

      background: $color-white;
      border: 2px solid $color-whisper;
      row-gap: 87px;

      &::before {
        content: "";
        top: 52px;

        width: 0;
        height: 60px;
        position: absolute;

        border: 1px solid $color-whisper;
      }

      &::after {
        content: "";
        top: 82px;

        width: 60px;
        height: 0;
        position: absolute;

        border: 1px solid $color-whisper;
      }
    }

    @media (min-width) {
      margin: 80px 0 0 0;
      padding: 161px 40px 38px 40px;

      &::before {
        content: "";
        top: 51px;

        width: 0;
        height: 60px;
        position: absolute;

        border: 1px solid $color-whisper;
      }

      &::after {
        content: "";
        top: 81px;

        width: 60px;
        height: 0;
        position: absolute;

        border: 1px solid $color-whisper;
      }
    }
  }
}

.catalog__product-card-all {
  text-align: center;

  @media (min-width: $vp-768) {
    padding: 0 65px;
  }

  @media (min-width: $vp-768) {
    padding: 0;
  }
}

.catalog__product__wrapper {
  display: grid;

  grid-template-columns: repeat(2, 1fr);

  @media (min-width: $vp-768) {
    display: flex;
    flex-direction: column;
  }
}

.catalog__img {
  justify-content: center;
  align-self: center;

  @media (min-width: $vp-768) {
    margin-bottom: 34px;
  }
}

.catalog__product-container {
  display: grid;

  row-gap: 13px;
}

.catalog__product-title {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog__product-description {
  display: grid;
  margin: 0;

  font-size: 12px;
  line-height: 16px;
  font-family: $ff-lato;

  grid-template-rows: repeat(3, 1fr);
  row-gap: 6px;
}

.catalog__description-item {
  display: flex;
  justify-content: space-between;
}

.catalog__description-definition {
  margin: 0;
}


.catalog__product-link {
  padding: 10px;

  line-height: 20px;

  &--all {
    color: $color-charcoal;

    background-color: $color-white-smoke;
    border: none;

    @media (min-width: $vp-768) {
      width: 100%;

    }
  }

  @media (min-width: $vp-1024) {
    min-width: 39px;
  }
}

.catalog__product-all-title {
  margin: 0 0 8px 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    margin: 0 0 23px 0;
  }
}

.catalog__product-all-text {
  margin: 0 0 7px 0;

  font-size: 12px;
  line-height: 16px;
  font-family: $ff-lato;
}
