.contacts {
  position: relative;

  margin: 0;

  &--grey {
    background-color: $color-white-smoke;

    @media (min-width: $vp-1024) {
      background-color: transparent;
    }
  }

  @media (min-width: $vp-1024) {
    min-height: 400px;
    padding: 96px 0 102px 0;
  }
}

.contacts__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 26px 0;

  @media (min-width: $vp-768) {
    padding: 59px 40px 64px 40px;
  }

  @media (min-width: $vp-1024) {
    top: 95px;
    left: 70px;

    width: 565px;
    padding: 57px 80px 43px 80px;

    background-color: $color-white;
  }

  &--main {
    @media (min-width: $vp-1024) {
      top: 95px;
      left: 70px;

      width: 565px;
      padding: 57px 80px 58px 80px;

      background-color: $color-white;
    }
  }
}

.contacts__br-form {
  display: none;

  @media (min-width: $vp-1024) {
    display: block;
  }
}

.contacts__title {
  display: block;
  max-width: 139px;
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    max-width: 160px;

    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__description {
  display: flex;
  flex-direction: column;
  max-width: 139px;
  margin: 0;

  font-size: 14px;
  line-height: 20px;
  font-family: $ff-lato;

  @media (min-width: $vp-768) {
    max-width: 169px;

    font-size: 16px;
    text-align: right;

    @media (min-width: $vp-1024) {
      max-width: 158px;

      text-align: left;
    }
  }

  .contacts__description-span {
    @media (min-width: $vp-1024) {
      margin: 0;
    }
  }

  .contacts__description-span--main {
    @media (min-width: $vp-768) {
      margin-top: 20px;
    }

    @media (min-width: $vp-1024) {
      margin-top: 17px;
    }
  }
}

.contacts__map {
  width: 100%;

  @media (min-width: $vp-768) {
    height: 400px;
  }

  @media (min-width: $vp-1024) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    height: 100%;
  }
}

.contacts__img {
  display: block;
  min-width: 100%;
  min-height: 100%;

  border: none;

  object-fit: cover;
}
