.form__form-container {
  text-transform: uppercase;
}

.form__title {
  margin: 0 0 37px 0;
  padding: 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.form__subtitle {
  margin: 0 0 39px 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.form__info {
  border: none;
}

.form__input-list {
  display: flex;
  flex-direction: column;
}

.form__input-list-item {
  line-height: 18px;
}

.form__input-list-input {
  line-height: 18px;
  font-family: inherit;
  color: $color-charcoal;
  text-transform: uppercase;
}

.form__purpose {
  border: none;
}

.form__radio-list {
  display: flex;
  flex-direction: column;
}


.form__contacts {
  border: none;
}

.form__legend {
  font-size: 24px;
  line-height: 26px;
  color: $color-black;
}

.form__comment {
  border: none;
}

.form__additionally {
  border: none;
}

.form__checkbox-list {
  display: flex;
  flex-direction: column;

  @media (min-width: $vp-768) {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $vp-1024) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.form__button-wrapper {
  @media (min-width: $vp-768) {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
  }
}

.form__button {
  width: 100%;
  padding: 7px 10px;

  line-height: 20px;
  font-family: inherit;
  text-transform: uppercase;
}

.form__text {
  font-size: 14px;
  line-height: 16px;
  font-family: $ff-lato;
  text-transform: none;
}
