.intro-container::before {

  @media (min-width: $vp-1024) {
    content: "";
    width: 730px;
    height: 500px;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 1) 50%, rgba(104, 183, 56, 0.85) 50%, rgba(104, 183, 56, 0.85) 100%),
    url("../img/index/background-intro.jpg");
    position: absolute;
    left: 50%;
    z-index: -1;

    margin: 0 0 82px 0;

    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }
}
