.intro-container {
  position: relative;

  @media (min-width: $vp-1024) {
    margin: 0 0 82px 0;
  }
}

.intro-container::before {
  @media (min-width: $vp-1024) {
    content: "";
    position: absolute;
    left: 50%;
    z-index: -1;

    width: 50%;
    height: 100%;

    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(104, 183, 56, 0.85) 0%),
    url("../img/background/background-intro-desktop.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(104, 183, 56, 0.85) 0%),
      url("../img/background/background-intro-desktop@2x.jpg");
      background-repeat: no-repeat;
      background-position: top left;
      background-size: cover;
    }
  }
}
