.intro {
  margin: 0 0 53px 0;
  padding: 0;

  @media (min-width: $vp-768) {
    padding: 0;
    margin: 0;
  }


}

.intro__wrapper {
  margin: 0 -20px;

  @media (min-width: $vp-768) {
    margin: 0 0 42px 0;
  }

  @media (min-width: $vp-1024) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 0 0 83px;
    margin: -41px 0 0 0;
  }
}



.intro__container-intro {
  padding: 27px 30px 125px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 -130px 0;

  color: $color-white;

  background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("../img/background/background-intro-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $vp-768) {
    min-height: 181px;
    padding: 0 150px 0 90px;

    color: $color-black;
    background: none;
  }

  @media (min-width: $vp-1024) {
    display: flex;
    flex-direction: column;
    margin: 0 0 53px 0;
    padding: 77px 0 131px 0;
  }


  }


.intro__container-img {
  display: flex;
  flex-direction: column;
  transform: translateY(-5px);
  align-items: center;

  @media (min-width: $vp-768) {
    position: relative;
    z-index: -1;

    width: 100%;
    margin: 0;
    transform: translateY(51px);
  }

  @media (min-width: $vp-1024) {
    min-width: 440px;
    transform: translateX(-9px);
    align-items: flex-start;
  }
}

.intro__img {
  align-self: center;
  margin: 0;

  @media (min-width: $vp-768) {
    width: 709px;
    height: 609px;
  }

  @media (min-width: $vp-1024) {
    width: 552px;
    height: 499px;
    margin: 0 0 0 -100px;
  }
}


.intro__title {
  margin: 0 0 25px 0;
  padding: 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;

  @media (min-width: $vp-768) {
    display: block;
    margin: 0 0 41px 0;

    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }
}

.intro__text {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    align-self: start;
    margin: 0 0 49px 0;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $vp-1024) {
    margin: 0 0 48px 0;
  }
}

.intro__button {
  width: 280px;
  padding: 10px 20px;

  font-size: 14px;
  line-height: 18px;
  transform: translateY(302px);

  @media (min-width: $vp-768) {
    position: relative;
    transform: none;
    align-self: flex-start;


    width: 244px;
    padding: 14px 20px;

    font-size: 20px;
    line-height: 20px;
    min-height: 54px;
  }
}
