.main-footer {
  background-color: $color-white-smoke;
}

.main-footer__wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 42px 0 22px 0;

  @media (min-width: $vp-768) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 57px 0;
  }

  @media (min-width: $vp-1024) {
    padding: 68px 0 75px 0;
  }
}

.main-footer__wrapper--catalog {
  @media (min-width: $vp-1024) {
    padding: 55px 0 75px;
  }
}

.main-footer__logo {
  position: relative;

  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0 0 14px 0;

  @media (min-width: $vp-768) {
    width: auto;
    margin: 0;
    padding: 0;

    border: none;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: $color-gainsboro;

    @media (min-width: $vp-768) {
      display: none;
    }
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-footer__list {
  display: grid;
  margin: 0;
  padding: 20px 0 14px 0;

  list-style-type: none;
  column-gap: 26px;

  grid-template-columns: repeat(3, 1fr);

  @media (min-width: $vp-768) {
    margin: 0;
    padding: 0;
  }

  @media (min-width: $vp-768) {
    margin-left: 24px;

    column-gap: 24px;
  }
}

.main-footer__link {
  color: $color-dim-gray;

  &:hover {
    color: $color-apple;
  }

  &:active {
    color: $color-apple;

    opacity: 0.3;
  }
}

.main-footer__logo-html {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 22px 0 0 0;

  font-size: 16px;
  line-height: 19px;
  font-family: $ff-lato;
  color: $color-charcoal;
  text-decoration: none;

  &:hover {
    .main-footer__logo-img-html-link {
      color: $color-apple;
    }
  }

  &:active {
    opacity: 0.3;

    .main-footer__logo-img-html-link {
      color: $color-apple;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: $color-gainsboro;

    @media (min-width: $vp-768) {
      display: none;
    }
  }

  @media (min-width: $vp-768) {
    width: auto;
    padding: 0;
  }
}

.main-footer__logo-img {
  @media (min-width: $vp-768) {
    width: 143px;
    height: 26px;
  }
}

.main-footer__logo-html-link {
  margin: 0 23px 0 0;

  font-family: $ff-lato;

  @media (min-width: $vp-768) {
    margin: 0 27px 7px 0;
  }
}
