.main-nav {
  margin-bottom: 4px;

  .no-js & {
    width: 100%;
  }

  @media (min-width: $vp-1024) {
    display: flex;
    max-width: 50%;
    margin-bottom: 8px;
  }
}

.main-nav__toggle {
  position: absolute;
  right: 0;

  width: 52px;
  height: 44px;
  margin-right: 5px;

  background-color: $color-transparent;
  border: none;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 14px;

    width: 24px;
    height: 2px;

    background-color: $color-black;
  }

  &::before {
    top: 14px;

    box-shadow: 0 7px 0 0 $color-black;
  }

  &::after {
    bottom: 14px;
  }

  .no-js & {
    display: none;
  }

  .is-open & {
    &::before {
      top: 14px;

      box-shadow: none;
      transform: translateY(7px) rotate(-45deg);
    }

    &::after {
      bottom: 14px;

      transform: translateY(-7px) rotate(45deg);
    }
  }

  @media (min-width: $vp-768) {
    display: none;
  }
}

.main-nav__list {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 3;

  display: none;
  margin: 0;
  margin-top: 53px;
  padding: 0;

  list-style-type: none;

  background-color: $color-white;
  border-bottom: 1px solid $color-whisper;

  .no-js & {
    position: static;

    display: block;
    width: 100%;
    margin-top: 0;

    @media (min-width: $vp-768) {
      display: flex;
      width: 88%;
      margin-left: auto;
    }

    @media (min-width: $vp-1024) {
      width: 82%;
    }
  }

  .is-open & {
    display: block;
  }

  @media (min-width: $vp-768) {
    position: static;

    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-top: 0;

    background-color: $color-transparent;
    border: none;
  }

  @media (min-width: $vp-1024) {
    max-width: 100%;
    padding: 0;
  }
}

.main-nav__item {
  width: 100%;
  padding-top: 22px;
  padding-bottom: 24px;

  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  border-top: 1px solid $color-whisper;

  &:last-of-type .main-nav__link {
    @media (min-width: $vp-1024) {
      margin-right: -18px;
    }
  }

  @media (min-width: $vp-768) {
    width: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 0;

    border: none;
  }
}

.main-nav__item:not(.main-nav__item--current) {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__item--current {
  &::after {
    @media (min-width: $vp-768) {
      content: "";
      position: absolute;
      right: 18px;
      bottom: -8px;
      left: 18px;

      height: 2px;

      background-color: $color-apple;
    }
  }

  @media (min-width: $vp-768) {
    position: relative;
  }
}

.main-nav__item--current-form {
  position: relative;

  &::after {
    @media (min-width: $vp-1024) {
      content: "";
      position: absolute;
      right: 0;
      bottom: -8px;
      left: 18px;

      width: 100%;
      height: 2px;

      background-color: $color-apple;
    }
  }
}

.main-nav__link {
  padding: 22px 35px 24px;

  color: $color-black;
  text-decoration: none;

  @media (min-width: $vp-768) {
    padding: 15px 18px;

    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: $vp-1024) {
    font-size: 20px;
    line-height: 30px;
  }
}

.main-nav--index {
  .main-nav__link {
    @media (min-width: $vp-1024) {
      color: $color-white;
    }
  }

  .main-nav__item--current::after {
    @media (min-width: $vp-1024) {
      background-color: $color-white;
    }
  }
}
