.main-header {
  position: relative;

  padding: 10px 0 17px 0;


  @media (min-width: $vp-768) {
    padding: 24px 0 64px 0;
  }

  @media (min-width: $vp-1024) {
    margin: 0;
    padding: 53px 0 74px 0;
  }
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  column-gap: 40px;


  @media (min-width: $vp-768) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $vp-1024) {
    font-size: 20px;
    line-height: 30px;
  }

  .no-js & {
    flex-direction: column;
    align-items: start;

    @media (min-width: $vp-768) {
      flex-direction: row;
    }
  }
}

.main-header__logo {
  display: flex;
  align-items: center;
  height: 36px;

  @media (min-width: $vp-768) {
    height: 52px;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  @media (min-width: $vp-1024) {
    height: 59px;
  }
}


.main-header__nav {
  display: none;

  @media (min-width: $vp-768) {
    position: relative;

    display: flex;
    justify-content: flex-end;
  }

  @media (min-width: $vp-1024) {
    width: 49%;
  }

  .is-open & {
    @media (max-width: $vp-768) {
      position: absolute;
      top: 0;
      left: 0;

      display: flex;
      width: 100%;
    }
  }

  .no-js & {
    position: relative;

    display: flex;
  }
}

.main-header__nav-toggle {
  position: relative;
  z-index: 2;

  display: block;
  width: 24px;
  height: 16px;
  padding: 0;

  background-color: inherit;
  border: none;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 24px;
    height: 1px;

    background-color: $color-black;
    box-shadow: 0 8px 0 0 $color-black, 0 16px 0 0 $color-black;
  }


  @media (min-width: $vp-768) {
    display: none;
  }

  .is-open & {
    @media (max-width: $vp-768) {
      display: block;
      width: 24px;
      height: 24px;

      background-color: inherit;
      border: none;
      cursor: pointer;


      &::before,
      &::after {
        content: "";
        position: absolute;

        width: 25px;
        height: 1px;

        background-color: $color-black;
        border-top: 1px solid $color-black;
      }

      &::before {
        top: 11px;
        left: 11px;

        box-shadow: none;
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &::after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }

    @media (min-width: $vp-768) {
      display: none;
    }
  }

  .no-js & {
    display: none;
  }
}

.main-header__nav-list {
  display: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style-type: none;

  .is-open & {
    @media (max-width: $vp-768) {
      position: absolute;
      top: 62px;
      left: 0;
      z-index: 2;

      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%;
      margin: 0;
      padding: 0;

      list-style-type: none;

      background-color: $color-white;
    }
  }

  @media (min-width: $vp-768) {
    position: relative;

    display: flex;
    justify-content: space-between;
  }

  .no-js & {
    position: relative;
    top: 0;

    display: flex;
    flex-direction: column;

    @media (min-width: $vp-768) {
      flex-direction: row;
    }
  }
}

.main-header__nav-item {
  padding: 22px 5px 24px 5px;

  text-align: center;

  border-top: 1px solid $color-whisper;

  @media (min-width: $vp-768) {
    position: relative;

    margin: 0 30px 15px 0;
    padding: 0;

    border: none;

    &:nth-child(3) {
      margin: 0 0 15px 0;
    }

    @media (min-width: $vp-768) {
      margin: 0 32px 15px 0;
    }
  }

  .no-js & {
    text-align: left;
  }
}























.main-header__nav-link {
  font-weight: 500;
  color: $color-black;
  text-decoration: none;

  @media (min-width: $vp-768) {
    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }


  &--current::after {
    @media (min-width: $vp-768) {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;

      width: 100%;
      height: 2px;

      background-color: $color-apple;
    }

    @media (min-width: $vp-1024) {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;

      width: 100%;
      height: 2px;

      background-color: $color-apple;
    }
  }

  &--main {
    @media (min-width: $vp-1024) {
      color: $color-white;
    }
  }
}


.main-header__nav-link--main-current::after {
  @media (min-width: $vp-1024) {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;

    width: 100%;
    height: 2px;

    background-color: $color-white;
  }
}
