.main-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.main-header__nav-list {
  list-style-type: none;
}

.main-header__nav-link {
  font-weight: 500;
  text-decoration: none;
}
