.main-footer {
  background-color: $color-white-smoke;
}

.main-footer__wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 39px 0 22px 0;


  @media (min-width: $vp-768) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 57px 0;
  }
}

.main-footer__logo {
  padding: 0 0 32px 0;
  margin: 0;




  @media (min-width: $vp-768) {
    margin: 0;
    padding:
    0;
    border: none;
  }

  &::after {
    content: "";
    background-color: $color-gainsboro;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 95px;
    left: 0;
    @media (min-width: $vp-768) {
      display: none;
    }
  }
}

.main-footer__list {
  display: grid;
  margin: 0;
  padding: 20px 0 21px 0;

  list-style-type: none;
  column-gap: 26px;

  grid-template-columns: repeat(3, 1fr);


  @media (min-width: $vp-768) {
    margin: 0;
    padding: 0;
  }

  &::after {
    content: "";
    background-color: $color-gainsboro;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 158px;
    left: 0;

    @media (min-width: $vp-768) {
      display: none;
    }
  }
}

.main-footer__logo-html {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 22px 0 0 0;

  font-size: 16px;
  line-height: 19px;
  font-family: $ff-lato;
  color: $color-charcoal;
  text-decoration: none;

  @media (min-width: $vp-768) {
    padding: 0;
  }
}

.main-footer__link {
  color: $color-dim-gray;
}

.main-footer__logo-html-link {
  font-family: $ff-lato;



  @media (min-width: $vp-768) {
    margin: 0 23px 0 0;
  }
}
