.programs {
  margin: 0 0 20px 0;

  @media (min-width: $vp-768) {
    margin-bottom: 45px;
  }

  @media (min-width: $vp-1024) {
    margin-bottom: 71px;
  }
}

.programs__list {
  display: grid;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style-type: none;

  gap: 20px;

  @media (min-width: $vp-768) {
    gap: 30px;
  }

  @media (min-width: $vp-1024) {
    gap: 80px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.programs__item {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 21px 33px 18px 19px;

  @media (min-width: $vp-768) {
    display: grid;
    padding: 77px 62px 53px 52px;

    column-gap: 54px;

    background-color: #f2f2f2;

    grid-template-columns: 2fr 1fr;
  }

  @media (min-width: $vp-1024) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }


  &::before {
    content: "";

    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;

    background-color: $color-apple;
    border-radius: 50%;
  }

  &--weightloss::before {
    content: url("/img/content/index/weightloss-icon-mobile.svg");
    position: absolute;

    width: 50px;
    height: 50px;


    @media (min-width: $vp-768) {
      content: url("/img/content/index/weightloss-icon-tablet.svg");
      position: relative;

      width: 200px;
      height: 200px;

      grid-column: 2;
      grid-row: 1/2;
    }

    @media (min-width: $vp-1024) {
      content: url("/img/content/index/weightloss-icon-desktop.svg");
      position: absolute;

      width: 100px;
      height: 100px;
    }
  }

  &--weightgain::before {
    content: url("/img/content/index/weightgain-icon-mobile.svg");
    position: absolute;

    width: 50px;
    height: 50px;

    @media (min-width: $vp-768) {

    content: url("/img/content/index/weightgain-icon-tablet.svg");
      position: relative;

      width: 200px;
      height: 200px;

      grid-column: 2;
      grid-row: 1/2;
    }

    @media (min-width: $vp-1024) {

    content: url("/img/content/index/weightgain-icon-desktop.svg");
      position: absolute;

      width: 100px;
      height: 100px;
    }
  }
}

.programs__card {
  position: relative;

  display: flex;
  flex-wrap: wrap;

  &::after {
    content: "";
    position: absolute;
    bottom: 15px;

    width: 100%;
    height: 1px;

    background-color: $color-gainsboro;


    @media (min-width: $vp-768) {
      display: none;
    }
  }
}

.programs__title {
  min-height: 50px;
  margin: 0 0 22px 0;
  padding: 0 0 0 91px;

  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    margin-bottom: 24px;
    padding: 0;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $vp-1024) {
    margin: 0 0 73px 0;
    padding: 36px 0 0 162px;
  }
}

.programs__item {
  background-color: $color-white-smoke;
}

.programs__text {
  margin: 0 0 38px 0;
  padding: 0;

  font-size: 14px;
  line-height: 18px;
  font-family: $ff-lato;

  @media (min-width: $vp-768) {
    font-size: 16px;
    line-height: 24px;
  }
}



.programs__button {
  position: relative;

  margin: 0 15px 0 0;

  line-height: 16px;
  font-family: inherit;
  text-align: left;
  color: $color-black;
  text-transform: uppercase;
  text-decoration: none;

  border: none;

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $vp-768) {
    margin: 0 25px 0 0;

    font-size: 20px;
    line-height: 30px;

    background-color: inherit;
  }
}


.programs__button-icon {
  position: absolute;

  width: 24px;
  height: 24px;
  overflow: hidden;

  background-image: url("/img/content/index/program-arrow-hover-and-active.svg");
  background-repeat: no-repeat;
  background-position: right;

  &:hover {
    width: 32px;

    background-position: center;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $vp-768) {
    height: 30px;
  }
}
