.work {
  margin: 0 0 49px 0;
  padding: 0;

  @media (min-width: $vp-768) {
    margin: 0;
    padding: 0 0 104px 0;

    border-bottom: 2px solid $color-whisper;
  }

  @media (min-width: $vp-1024) {
    border: none;
  }
}

.work__title {
  margin: 0 0 40px 0;
  padding: 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $vp-768) {
    margin: 0 0 70px 0;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $vp-1024) {
    margin: 0 0 73px 0;
  }
}

.work__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  row-gap: 20px;

  @media (min-width: $vp-768) {
    padding: 0 75px 0 0;

    column-gap: 141px;

    grid-template-columns: repeat(2, 1fr);
    row-gap: 134px;
  }

  @media (min-width: $vp-1024) {
    justify-content: space-between;
    padding: 0;

    column-gap: 77px;

    grid-template-columns: repeat(4, 1fr);
  }
}

.work__item {
  position: relative;

  display: flex;
  align-items: center;
  min-height: 60px;
  padding: 0 0 0 80px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: $color-apple;
  }

  &--step1::before {
    background-image: url("/img/icons/step-1.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--step2::before {
    background-image: url("/img/icons/step-2.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--step3::before {
    background-image: url("/img/icons/step-3.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--step4::before {
    background-image: url("/img/icons/step-4.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: $vp-768) {
    padding: 111px 0 0 0;

    &::before {
      content: "";

      width: 80px;
      height: 80px;
    }

    &::after {
      position: absolute;
      top: -37px;
      right: 0;
      z-index: -1;

      font-size: 280px;
      line-height: 280px;
      color: $color-white-smoke;
    }

    &--step1::after {
      content: "1";
      right: 20px;
    }

    &--step2::after {
      content: "2";
    }

    &--step3::after {
      content: "3";
    }

    &--step4::after {
      content: "4";
    }
  }

  @media (min-width: $vp-1024) {
    &--step1::after {
      right: 20px;
    }
  }
}

.work__description {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 18px;
  font-family: $ff-lato;

  @media (min-width: $vp-768) {
    font-size: 16px;
    line-height: 24px;
  }
}
