@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Oswald";

  font-display: swap;
  src: url("../fonts/oswald/oswaldmedium.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Oswald";

  font-display: swap;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-family: "Lato";

  font-display: swap;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2");
}
