*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-weight: 400;
  font-size: 16px;
  font-family: $ff-oswald;
  color: $color-black;

  background-color: $color-white;
}
