$ff-oswald: "Oswald", "Arial", sans-serif;
$ff-lato: "Lato", "Arial", sans-serif;
$color-white: #ffffff;
$color-black: #000000;
$color-apple: #68b738;
$color-white-smoke: #f2f2f2;
$color-charcoal: #444444;
$color-very-light-grey: #cdcdcd;
$color-dim-gray: #666666;
$color-whisper: #eaeaea;
$color-whisper-1: #e7e7e7;
$color-gainsboro: #d9d9d9;
$color-silver: #c4c4c4;
$color-whisper-2: #ebebeb;
$color-light-grey: #D3D3D3;
$color-nero: #222222;
$color-light-coral: #FF8282;

$vp-768: 768px;
$vp-1024: 1024px;
