$ff-oswald: "Oswald", "Arial", sans-serif;
$ff-lato: "Lato", "Arial", sans-serif;

$color-white: #ffffff;
$color-black: #000000;
$color-apple: #68B738;
$color-white-smoke: #f2f2f2;
$color-charcoal: #444444;
$color-very-light-grey: #cdcdcd;
$color-dim-gray: #666666;

/*
$vp-320: 320px;
$vp-768: 768px;
$vp-1440: 1440px;
*/
